/* Upload page specific styles */

input[type="file"] {
  padding: 10px;
  border: 1px dashed #888;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}

progress {
  width: 100%;
  height: 16px;
  border-radius: 8px;
}

.player {
  width: 100%;
  aspect-ratio: 16/9;
  margin-top: 2rem;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  box-shadow: var(--shadow);
}

@media (max-width: 768px) {
  .player {
    width: 100%;
    max-width: 720px;
    height: auto;
    aspect-ratio: 16/9;
  }
  
  input[type="file"] {
    max-width: 100%;
  }
}
