:root {
  color-scheme: light dark;
}

body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  margin: 2rem;
  max-width: 1000px;
}

.muted {
  color: #666;
  font-size: 0.95rem;
}

.box {
  border: 1px solid #999;
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem 0;
}

input[type="file"] {
  padding: 10px;
  border: 1px dashed #888;
  border-radius: 10px;
  width: 300px;
}

progress {
  width: 100%;
  height: 16px;
}

.log {
  white-space: pre-wrap;
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, monospace;
  background: rgba(127, 127, 127, 0.1);
  border: 1px solid #999;
  border-radius: 8px;
  padding: 0.75rem;
  min-height: 400px;
  height: 400px;
  overflow-y: auto;
}

.player {
  width: 720px;
  height: 405px;
  min-height: 400px;
  margin-top: 2rem;
}