body {
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.content {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}

.content > div {
  width: 100%;
  max-width: 720px;
}

.player {
  width: 720px;
  height: 405px;
  min-height: 400px;
  margin: 30px auto;
}